
h1, h3{
        font-family: 'Stint Ultra Expanded', cursive;
}

#main{    
        font-family: 'Pontano Sans', sans-serif;
        width:60%;
        background-color: rgba(159,161,163,.1)

}
        

#header{
        position: absolute;
        width: 30%;
        display: flex;
        justify-content: space-around;
        z-index:2;
        background-color: rgba(159,161,163,.5);
        margin:5%
    
}

#headerimg{
        z-index: 0;
        height: 500px;
        overflow:hidden
        
}

#links{
        z-index: 2;
        width: 90%;
        display:flex;
        justify-content: space-between; 
        font-family: 'Stint Ultra Expanded', cursive;
        margin: 5%
    
       
}

#body{
        z-index: 0;
        display:flex;
        flex-flow: column wrap-reverse;
        align-items: center;
        margin: 30px;
        padding:20px;
        background-color: rgba(159,161,163,.1)
       

}

#footer{
        height: 5em;    
        background-color: rgba(159,161,163,.5);
        color: rgba(159,161,163,.0);
        font-family: 'Stint Ultra Expanded', cursive;
}

#blog{
            width:85%

}

a:link{
        text-decoration: none;
        color:black
}

a.current:link{
    
        text-decoration:overline;
    
}

a:visited{
        color:rgb(159,161,163)
}

a:hover{
        color:red;
        text-decoration:overline;
        cursor:pointer;
       
}

a:active{
        text-decoration: none;
        cursor:pointer;
       
}

form{
    
        font-family: 'Pontano Sans', sans-serif;
}


